//output:$1.html
//{"menu":{},"button":{},"joinus":{"joinus_description":[],"wewantyou_job":[]},"lang":"en"}
extends comp/base

block meta
  title #{menu.textJoinUs}

block style
  link(rel="stylesheet", type="text/css", href="/css/joinus.css")

block content
  +menu("joinus")
  .joinus-header.header
    .container
      img.bgvid(src='/img/bg/bg_joinus.jpg')
  
  div.joinus-overlap
    h1.title #{joinus.title}
    p.description(itemprop="description") 
      each item in joinus.joinus_description
        | #{item} <br>

  div.joinus-member
    .content
      h2.title #{joinus.wewantyou_title}
      - var jobs = joinus.wewantyou_job
      .jobs
        each thejob, indexjob in jobs
          .thejob.pure-g(class="#{indexjob == jobs.length - 1 ? 'last' : ''}")
            //- .pure-u-1-1.pure-u-md-1-2
            //-   img.pure-img(src="/img/job/icon_job_#{thejob.url}.png")
            //- .text.pure-u-1-1.pure-u-md-1-2
            .text.pure-u-1-1
              h3.title #{thejob.position}
              .description
                h5 #{joinus.job_description}
                p
                  each desc in thejob.description
                    | !{desc} <br>
                - if (thejob.requirement.length > 0) {
                h5 #{joinus.job_requirement}
                p
                  each req in thejob.requirement
                    | !{req} <br>
                - }
