//output:$1.html
//{"menu":{},"button":{},"lang":"en"}

extends comp/base

block style
  link(rel="stylesheet", type="text/css", href="/css/pmp.css")

block script_after.
  $('.carousel').carousel()

block content
  .pmp-header.header
    .container
      video.bgvid(playsinline='', autoplay='', muted='', loop='')
        source(src='/video/Home_Video.mp4', type='video/mp4')
  +menu("pmp")
  
  div.pmp-overlap
    .bg
    h1 PMP
    p Light Up Your Brand with Innovation in a <br>
      | Programmatic Way

  div.pmp-format
    .content
      h3 廣告格式
      p 說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字 <br>
        | 說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字
        
      - var adformat = [];
      - adformat.push({"01":{text:"廣告樣式名稱",url:"01"},"02":{text:"廣告樣式名稱",url:"02"},"03":{text:"廣告樣式名稱",url:"03"},"04":{text:"廣告樣式名稱",url:"04"},"05":{text:"廣告樣式名稱",url:"05"},});
      - adformat.push({"01":{text:"廣告樣式名稱",url:"01"},"02":{text:"廣告樣式名稱",url:"02"},"03":{text:"廣告樣式名稱",url:"03"},"04":{text:"廣告樣式名稱",url:"04"},"05":{text:"廣告樣式名稱",url:"05"},});
      //- - adformat.push({"06":"06","07":"07","08":"08","09":"09","010":"010",});
      #showcase-adformat.carousel.slide(data-ride='carousel')
        // Indicators
        //- ul.carousel-indicators
        //-   each page, page_index in adformat
        //-     li(data-target='#showcase-adformat', data-slide-to='#{page_index}', class="#{page_index > 0 ? '' : 'active'}")
        // The slideshow
        .carousel-inner
          each page, page_index in adformat
            .carousel-item(class="#{page_index > 0 ? '' : 'active'}")
              .pure-g
                each key in Object.keys(page)
                  .pure-u-1-2.pure-u-lg-1-5
                    //- each key, value in page
                    img.pure-img(src='/img/adformat/icon_adformat_phone_#{page[key].url}.png', alt='#{key}')
                    .flex-br
                    p #{page[key].text}
        // Left and right controls
        a.carousel-control-prev(href='#showcase-adformat', role="button", data-slide='prev')
          span.carousel-control-prev-icon
        |           
        a.carousel-control-next(href='#showcase-adformat', role="button", data-slide='next')
          span.carousel-control-next-icon
      a.button(href="pmp/adformat.html")
        | #{button.more === undefined ? "more" : button.more}
      
  div.pmp-nice-media
    .bg
      //- img.pure-img(src="/img/bg/bg_nice_media.svg",alt="nice-media")
    .content
      h3.title 優質媒體
      p.description 說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字
        | 說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字
      
        
      - var media = [];
      - media.push({"cmoney": "cmoney","thirty": "30","managertoday":"managertoday","bnext":"bnext","cheers":"cheers","meet":"meet","cnyes":"cnyes","techbang":"techbang","ltn":"ltn","engadget":"engadget",});
      - media.push({"3ctalk": "3ctalk","babyou": "babyou","bluesbear": "bluesbear","ck101": "ck101","dcard": "dcard","english": "english","juksy": "juksy","meteor": "meteor","mf": "mf","nius": "nius",});
      - media.push({"picsee": "picsee","queentalk": "queentalk","setn": "setn","shoppingdesign": "shoppingdesign","sportsv": "sportsv","taiwan": "taiwan","talk": "talk","teepr": "teepr","udn": "udn","womentalk": "womentalk",});
      #nice-media.carousel.slide(data-ride='carousel')
        // Indicators
        //- ul.carousel-indicators
        //-   each page, page_index in media
        //-     li(data-target='#nice-media', data-slide-to='#{page_index}', class="#{page_index > 0 ? '' : 'active'}")
        // The slideshow
        .carousel-inner
          each page, page_index in media
            .carousel-item(class="#{page_index > 0 ? '' : 'active'}")
              .pure-g
                each key in Object.keys(page)
                  .pure-u-1-2.pure-u-md-1-5
                    //- each key, value in page
                    img.pure-img(src='/img/media/logo_m_#{page[key]}.png', alt='#{key}')
        // Left and right controls
        a.carousel-control-prev(href='#nice-media', role="button", data-slide='prev')
          span.carousel-control-prev-icon
        |           
        a.carousel-control-next(href='#nice-media', role="button", data-slide='next')
          span.carousel-control-next-icon
          
  div.pmp-5r
    .content
      h3.title 精準觸及
      p.description 說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字
        | 說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字
      img.icon5r(src="/img/icon/icon_5r_with_text.png")
      a.button(href="pmp/5R.html") #{button.more === undefined ? "more" : button.more}
  div.pmp-partner
    .bg
      //- img.pure-img(src="/img/bg/bg_partner.svg",alt="partner")
    .content
      h3.title 合作夥伴
      - var partner = [];
      - partner.push({"lndata": "lndata","amnet": "amnet","ipg": "ipg",});
      each page, page_index in partner
        .pure-g
          each key in Object.keys(page)
            .pure-u-1-2.pure-u-md-1-3
              //- each key, value in page
              img.pure-img(src='/img/partner/logo_m_#{page[key]}.png', alt='#{key}')
              p 說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字
                | 說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字
  div.pmp-customer
    .bg
      //- img.pure-img(src="/img/bg/bg_customer.svg",alt="customer")
    .content
      h3.title 配合客戶      
        
      - var customer = [];
      - customer.push({tag:"運動",data:{"disney":"disney","fox":"fox","yahootv":"yahootv","kkbox":"kkbox","universal":"universal","applause":"applause","kktv":"kktv","uip":"uip",}});
      - customer.push({tag:"影視娛樂",data:{"disney":"disney","fox":"fox","yahootv":"yahootv","kkbox":"kkbox","universal":"universal","applause":"applause","kktv":"kktv","uip":"uip",}});
      - customer.push({tag:"食品",data:{"disney":"disney","fox":"fox","yahootv":"yahootv","kkbox":"kkbox","universal":"universal","applause":"applause","kktv":"kktv","uip":"uip",}});
      - customer.push({tag:"飲料",data:{"disney":"disney","fox":"fox","yahootv":"yahootv","kkbox":"kkbox","universal":"universal","applause":"applause","kktv":"kktv","uip":"uip",}});
      - customer.push({tag:"3C",data:{"disney":"disney","fox":"fox","yahootv":"yahootv","kkbox":"kkbox","universal":"universal","applause":"applause","kktv":"kktv","uip":"uip",}});
      - customer.push({tag:"速食",data:{"disney":"disney","fox":"fox","yahootv":"yahootv","kkbox":"kkbox","universal":"universal","applause":"applause","kktv":"kktv","uip":"uip",}});
      - customer.push({tag:"美妝",data:{"disney":"disney","fox":"fox","yahootv":"yahootv","kkbox":"kkbox","universal":"universal","applause":"applause","kktv":"kktv","uip":"uip",}});
      - customer.push({tag:"日常用品",data:{"disney":"disney","fox":"fox","yahootv":"yahootv","kkbox":"kkbox","universal":"universal","applause":"applause","kktv":"kktv","uip":"uip",}});
      #customer.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators.pure-g
          each page, page_index in customer
            li.pure-u-1-2(data-target='#customer', data-slide-to='#{page_index}', class="#{page_index > 0 ? '' : 'active'} pure-u-md-1-#{customer.length}")
              | #{page.tag}
        // The slideshow
        .carousel-inner
          each page, page_index in customer
            .carousel-item(class="#{page_index > 0 ? '' : 'active'}")
              .pure-g
                each key in Object.keys(page.data)
                  .pure-u-1-2.pure-u-md-1-5
                    //- each key, value in page
                    img.pure-img(src='/img/customer/logo_m_#{page.data[key]}.png', alt='#{key}')
        // Left and right controls
        a.carousel-control-prev(href='#customer', role="button", data-slide='prev')
          span.carousel-control-prev-icon
        |           
        a.carousel-control-next(href='#customer', role="button", data-slide='next')
          span.carousel-control-next-icon
  .pmp-contact-us-hr-container
    .pmp-contact-us-hr
  div.pmp-contact-us
    .button #{button.contactus === undefined ? "Contact Us" : button.contactus}
    hr
      
