//output:$1.html

- var defaultPage = '';
- if (lang == "en") {
- defaultPage = 'theadplay';
- } else {
- defaultPage = 'pmp';
- }

mixin footerGeneral(prefix)
  .footer-hr-container
    .footer-hr
  footer.pure-g
    .pure-u-1-1.pure-u-md-1-2
      .logoaddress
        img.pure-img(src="/img/logo/vmfive--logo-standard.svg")
        div 8F.-3, No.234, Sec. 5, Nanjing E. Rd., Songshan Dist., Taipei City 105, Taiwan <br>
          | 105 台北市松山區南京東路 5 段 234 號 8 樓之 3
    .pure-u-1-1.pure-u-md-1-2
      .sitemap
        .container.pure-g
          .category.pure-u-1-3.pure-u-md-1-1
            .pure-g
              .title.pure-u-1-1.pure-u-md-1-4
                a(href="#{prefix}#{'pmp' == defaultPage ? 'index' : 'pmp'}.html") PMP
              .item.pure-u-1-1.pure-u-md-1-4
                a(href="#{prefix}pmp/adformat.html") #{menu.textAdformat}
              .item.pure-u-1-1.pure-u-md-1-4
                a(href="#{prefix}pmp/5R.html") #{menu.text5R}
              .item.pure-u-1-1.pure-u-md-1-4
                a #{menu.textBlog}
          .category.pure-u-1-3.pure-u-md-1-1
            .pure-g
              .title.pure-u-1-1.pure-u-md-1-4
                a(href="#{prefix}#{'theadplay' == defaultPage ? 'index' : 'theadplay'}.html") ADPlay
              .item.pure-u-1-1.pure-u-md-1-4
                a &nbsp;
              .item.pure-u-1-1.pure-u-md-1-4
                a &nbsp;
              .item.pure-u-1-1.pure-u-md-1-4
                a &nbsp;
          .category.pure-u-1-3.pure-u-md-1-1
            .pure-g
              .title.pure-u-1-1.pure-u-md-1-4
                a(href="#{prefix}about.html") About
              .item.pure-u-1-1.pure-u-md-1-4
                a(href="#{prefix}about.html") #{menu.textAbout}
              .item.pure-u-1-1.pure-u-md-1-4
                a #{menu.textNews}
              .item.pure-u-1-1.pure-u-md-1-4
                a(href="#{prefix}joinus.html") #{menu.textJoinUs}
