//output:$1.html
mixin menu(currentPage)
  nav#nav.navbar.navbar-expand-lg.navbar-light
    a.navbar-brand(href='/')
      img.logo.d-inline-block.align-top(src='http://vmfive.com/img/etc/vmfive--logo.svg', height='42px', alt='')
        
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
      
    div#navbarNav.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        each item in [{"id":"pmp", "url":"/"+lang+"/pmp.html", "text":menu.textPMP},{"id":"adplay", "url":"/"+lang+"/adplay.html", "text":menu.textAdplay},{"id":"about", "url":"/"+lang+"/about.html", "text":menu.textAbout},{"id":"joinus", "url":"/"+lang+"/joinus.html", "text":menu.textJoinUs}]
          li.nav-item
            - if (currentPage == item.id) {
            a.nav-link.active(class="menu-#{item.id}",href="#{item.url}") #{item.text}
            - } else {
            a.nav-link(class="menu-#{item.id}",href="#{item.url}") #{item.text}
            - }
