//output:$1.html
//{"menu":{},"button":{},"the5r":{},"lang":"en"}
extends ../comp/base

block meta
  title #{menu.textPMP}

block style
  link(rel="stylesheet", type="text/css", href="/css/5R.css")
    
block scroll_nav_change

block script_after.

block foot
  +footerGeneral('../')

block content
  +menu("pmp")
  .about-header.header
    .container
  
  div.goal5r-overlap
    h1 #{the5r.title}
    h4 #{the5r.whatis5r_title}
    p.description(itemprop="description") 
      | #{the5r.whatis5r_description}
    img.figure-decoration.pure-img(src="/img/icon/icon_vision_mission.svg")
    .audience
      .figure
        //- img.mobile.pure-img(src="/img/icon/icon_5r_items.svg")
        //- img.desktop.pure-img(src="/img/icon/icon_5r_items_md.svg")
        
        .goal5r-description #{the5r.detail_title}
        .goal5r-description
          img(src="/img/5r/icon_5r_audience.svg")
          .description #{the5r.detail_audience}
        .goal5r-description
          img(src="/img/5r/icon_5r_format.svg")
          .description #{the5r.detail_format}
        .goal5r-description
          img(src="/img/5r/icon_5r_content.svg")
          .description #{the5r.detail_content}
        .goal5r-description
          img(src="/img/5r/icon_5r_time.svg")
          .description #{the5r.detail_time}
        .goal5r-description
          img(src="/img/5r/icon_5r_place.svg")
          .description #{the5r.detail_place}
        .goal5r-description #{the5r.detail_conclusion}
      .feature
        mixin howto(className)
          .howto(class="#{className}")
            h1 #{the5r.howitworks_title}
            p #{the5r.howitworks_description}
            
        .pure-g
          .feature-left-side.pure-u-1-1.pure-u-lg-1-2
            div
              h1 #{the5r.features_title}
              p #{the5r.features_description}
            +howto("desktop")
          .feature-right-side.pure-u-1-1.pure-u-lg-1-2
            img.desktop.pure-img(src="/img/5r/icon_5r_howto_md.svg")
            img.mobile.pure-img(src="/img/5r/icon_5r_howto.svg")
            +howto("mobile")
        //- img.mobile.pure-img(src="/img/icon/icon_5r_feature.svg")
        //- img.desktop.pure-img(src="/img/icon/icon_5r_feature_md.svg")
      
      .bg
        img.pure-img(src="/img/icon/icon_gear.svg")
      .info
        h5.title
          | Right Audience
        .description
          | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
  
  div.goal5r-timeplace
    .bg
    .info
      h5.title
        | Right Time
      .description
        | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
      h5.title
        | Right Place
      .description
        | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
        
  div.goal5r-contentformat
    .bg
    .info.pure-g
      .pure-u-1-1.pure-u-md-3-8
      .pure-u-1-1.pure-u-md-5-8
        h5.title
          | Right Content
        .description
          | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
        h5.title
          | Right Format
        .description
          | 文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字文字
  
