//output:$1.html
//{"menu":{},"button":{},"adformat":{"format":{}},"lang":"en"}

extends ../comp/base

block style
  link(rel="stylesheet", type="text/css", href="/css/adformat.css")

block scroll_nav_change

block script_after
  | $('.carousel').carousel({interval:15*1000});

block foot
  +footerGeneral('../')

block content
  +menu("pmp")
  
  .adformat-overlap
    #vue-app
      adformat-component
    
    script(type="x-template",id="adformat-component")
      div
        h2.hint-format.show 廣告格式
        h2.name-format-hidden {{getAd().name}}
        img.back(@click="exitFullscreenAndShowMenu",src="/img/icon/icon_back.svg")
        .pure-g
          .content.pure-u-1-1.pure-u-md-3-4
            .pure-g
              .emulator.pure-u-1-1.pure-u-md-1-3
                img.pure-img(src="/img/bg/bg_phone.png")
                .iframe-container
                  iframe(:src="getAd().url_demo") 
              .adinfo.pure-u-1-1.pure-u-md-2-3
                h3.name-format {{getAd().name}}
                .status
                  img.pure-img.firstitem(v-if="getAdSupport().web",src="/img/icon/icon_mweb.svg")
                  img.pure-img(v-if="getAdSupport().app",src="/img/icon/icon_mapp.svg")
                  //- a.button-live(:href="getAd().url_demo",target="_blank") Live
                hr
                .description
                  div(v-for="description in getAd().description" v-html="description")
            .mask
          .menu.show.pure-u-1-1.pure-u-md-1-4
            .itemgrid
              - var adformatList = [];
              - adformatList.push({"id": "top","img":"1"});
              - adformatList.push({"id": "native","img":"2"});
              - adformatList.push({"id": "interstitial","img":"3"});
              - adformatList.push({"id": "impressive","img":"4"});
              - adformatList.push({"id": "vertical","img":"5"});
              //- - adformatList.push({"id": "interstitial","img":"6"});
              //- - adformatList.push({"id": "interstitial","img":"7"});
              //- - adformatList.push({"id": "interstitial","img":"8"});
              //- - adformatList.push({"id": "interstitial","img":"9"});
              //- - adformatList.push({"id": "interstitial","img":"1"});
              //- - adformatList.push({"id": "interstitial","img":"1"});
              //- - adformatList.push({"id": "interstitial","img":"1"});
              //- - adformatList.push({"id": "interstitial","img":"1"});
              //- - adformatList.push({"id": "interstitial","img":"1"});
              //- - adformatList.push({"id": "interstitial","img":"1"});
              //- - adformatList.push({"id": "interstitial","img":"1"});
              //- - adformatList.push({"id": "interstitial","img":"1"});
              //- - adformatList.push({"id": "interstitial","img":"1"});
              //- - adformatList.push({"id": "interstitial","img":"1"});
              .pure-g
                each item in adformatList
                  .aditem.ripple.pure-u-1-3
                    img.pure-img(src="/img/adformat/btn-ad-#{item.img}-a.svg",@click="selectAd('#{item.id}')")
    script(src="https://unpkg.com/vue@2.5.13/dist/vue.js")
    script(type="text/javascript")
      | var adformat = {};
      - var tempItem = {};
      - var tempDescription = [];
      each item in adformatList
        - tempItem = adformat.format;
        - tempItem = tempItem == undefined ? {} : tempItem;
        - tempDescription = tempItem[item.id+"_description"];
        - tempDescription = tempDescription == undefined ? [] : tempDescription;
        | adformat["#{item.id}"] = {
        | "title": '#{tempItem[item.id+"_title"]}',
        | "description": [
        each description in tempDescription
          "!{description}",
        | ],
        | };
    script(type="text/javascript").
      fullscreenAndHideMenu = function () {
        document.querySelector('.back').classList.add("show");
        document.querySelector('.name-format-hidden').classList.add("show");
        document.querySelector('.content').classList.add("full");
        document.querySelector('.menu').classList.remove("show");
        document.querySelector('.hint-format').classList.remove("show");
        
        scrollToTop();
      };
      exitFullscreenAndShowMenu = function () {
        document.querySelector('.back').classList.remove("show");
        document.querySelector('.name-format-hidden').classList.remove("show");
        document.querySelector('.content').classList.remove("full");
        document.querySelector('.menu').classList.add("show");
        document.querySelector('.hint-format').classList.add("show");
        
        scrollToTop();
      };
      scrollToTop = function () {
        var list = document.querySelectorAll(".content, #vue-app, body");
        list.forEach(function (el) {
          el.scrollTop = 0;
        });
      }
      
      Vue.component('adformat-component', {
          template: '#adformat-component',
          mounted: function () {
            document.querySelector(".mask").addEventListener("click", function(event) {
              if (document.querySelector(".mask").style.display == "none") {
                return;
              }
              fullscreenAndHideMenu();
              event.preventDefault();
              event.stopPropagation();
            }, false);
          },
          data: function () {
              var baseUrl = "https://ad-demo.vmfive.com/demos/";
              return {
                "adformat": {
                  "top": {
                    "name": adformat.top.title,
                    "url_demo": baseUrl + "simple-top.html",
                    "description": adformat.top.description,
                    "support":{"web":true,},
                  },
                  "native": {
                    "name": adformat.native.title,
                    "url_demo": baseUrl + "simple.html",
                    "description": adformat.native.description,
                    "support":{"web":true,"app":true},
                  },
                  "interstitial": {
                    "name": adformat.interstitial.title,
                    "url_demo": baseUrl + "simple-interstitial.html",
                    "description": adformat.interstitial.description,
                    "support":{"web":true,"app":true},
                  },
                  "impressive": {
                    "name": adformat.impressive.title,
                    "url_demo": baseUrl + "simple-impressive.html",
                    "description": adformat.impressive.description,
                    "support":{"web":true,},
                  },
                  "vertical": {
                    "name": adformat.vertical.title,
                    "url_demo": baseUrl + "simple-portrait-interstitial.html",
                    "description": adformat.vertical.description,
                    "support":{"web":true,},
                  },
                },
                "current_ad_id" : "interstitial",
              };
          },
          methods: {
              selectAd: function (id) {
                this.current_ad_id = id;
                fullscreenAndHideMenu();
              },
              exitFullscreenAndShowMenu: exitFullscreenAndShowMenu,
              getAd: function () {
                var ad = this.adformat[this.current_ad_id];
                return ad === undefined ? {} : ad;
              },
              getAdSupport: function functionName() {
                if (this.getAd() !== undefined && this.getAd().support !== undefined) {
                  return this.getAd().support;
                }
                
                return {
                  "web":true,
                  "app":true,
                };
              },
          }
      });
      var app = new Vue({
          el: '#vue-app'
      });
